// emerald styles
.eui-alert {
	width: 100%;
	margin-top: 25px;
	padding: 13px 18px;
}

.eui-alert-default-icon {
	visibility: hidden;
}

.alert {
	width: 100%;
	justify-content: center;
	max-width: calc(940px);
}
